<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12"></div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">_id</th>
                            <th scope="col">courseTitle</th>
                            <th scope="col">courseDescription</th>
                            <th scope="col">courseDuration</th>
                            <th scope="col">courseVenue</th>
                          </tr>
                          <tr *ngFor="let i of data">
                            <td>{{i._id}}</td>
                            <td>{{i.courseTitle}}</td>
                            <td>{{i.courseDescription}}</td>
                            <td>{{i.courseDuration}}</td>
                            <td>{{i.courseVenue}}</td>
                          </tr>
                        </thead>
                      </table>
                </div>
            </div>
        </div>
    </div>
</div>
